{% extends "base.html" %}
{% load static %}
{% block content %}

   

    <h1 style="text-align: center"><u>About us</u></h1>

   <br>

    <p style="text-align: center">Welcome to our blog! We are a team of writers and researchers passionate about education, sports, health, technology, and food. Our mission is to provide informative and engaging content that helps our readers improve their lives. Thank you for visiting. If you have any questions or suggestions, don't hesitate to reach out to us.</p>
  
    <br>


{%endblock%}