{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Thee light</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
            
        <!-- Slick Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">

        <link rel="stylesheet" href="{% static 'css/public.css' %}">    
    </head>

  <header>
        <div class="nav-overlay"></div>
        <span role="button" class="menu-icon">
          <ion-icon name="menu-outline"></ion-icon>
        </span>
        <a href="{% url 'home' %}" class="logo-wrapper td-none">
          <div><b>Thee light</b></div>
        </a>
    
        <nav>
          <div class="search-item">
            <span class="search-icon" role="button">
              <ion-icon name="search-outline"></ion-icon>
            </span>
            <form action="{% url 'home' %}" method="post" class="header-search-form hide">
              <input type="text" name="search-term" placeholder="Search this website..."
                class="input-control input-control-sm search-input">
            </form>
          </div>
          <ul class="navmenu">
            <li class="navitem"><a href="{% url 'home' %}">All Posts</a></li>
            <li class="navitem"><a href="{% url 'about' %}">About Us</a></li>
            <li class="navitem">
              <a href="#">Our Articles <ion-icon name="chevron-down-outline" class="navicon"></ion-icon></a>
              <ul class="dropdown">
                {% for category in category_list %}
                  <a class="dropdown-item" href="/category/{{ category.name}}">
                  {{ category.name|title }}
                  </a>
                  {% endfor %}
              </ul>
            </li>
       
          </ul>
        </nav>
      </header>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
         <!-- Page Footer -->
  <footer class="page-footer">
    <div class="footer-content">
      <div class="content-section company-info">
        <h3 class="section-title">About Us</h3>
        <div class="company-bio">
          Welcome to our blog! We are a team of writers and researchers passionate about education, sports, health, technology, and food. Our mission is to provide informative and engaging content that helps our readers improve their lives. Thank you for visiting. If you have any questions or suggestions, don't hesitate to reach out to us. </div>
        <div class="social-links">
          <a href="#"><ion-icon class="social-icon" name="logo-facebook"></ion-icon></a>
          <a href="#"><ion-icon class="social-icon" name="logo-instagram"></ion-icon></a>
          <a href="#"><ion-icon class="social-icon" name="logo-twitter"></ion-icon></a>
          <a href="#"><ion-icon class="social-icon" name="logo-youtube"></ion-icon></a>
          <a href="#"><ion-icon class="social-icon" name="logo-linkedin"></ion-icon></a>
        </div>
      </div>

      <div class="content-section helpful-links">
        <div>
          <h3 class="section-title">Top topics</h3>
          <ul>
            <li><a>Education</a></li>
            <li><a>Sports</a></li>
            <li><a>Health</a></li>
            <li><a>Technology</a></li>
            <li><a>Food</a></li>
          </ul>
        </div>
      </div>

      <div class="content-section contact-wrapper">
        <h3 class="section-title">Send us a message at...</h3>
        <form action="#" method="post" class="contact-form">
          <div class="input-group">
            <h8>Email: theelight@gmail.com</h8>
          </div>
          <div class="input-group">
            <h8>Phone number: 07123456789</h8>
          </div>
          <div class="input-group">
          </div>
        </form>
      </div>
    </div>
    <div class="copyright-info">
      <p class="center">Thee light</p>
    </div>
  </footer>
  <!-- // Page Footer -->
    </body>
</html>
