{% extends "base.html" %}
{% block content %}
 <!-- Page Header End -->

 {% if error_message %}
 <div class="alert alert-info" role="alert">
     {{ error_message }}
 </div>
 {% endif %}
 
 
 <!-- Contact Start -->
 <div class="container-fluid py-5">
     <div class="container py-5">
         <div class="text-center pb-2">
             <h6 class="text-uppercase">Contact Us</h6>
             <h1 class="mb-4">Contact For Any Query</h1>
         </div>
         <div class="row">
             <div class="col-lg-6 mb-5 mb-lg-0">
                 <div class="contact-form">
                     <div id="success"></div>
                     <form method="POST" name="sentMessage" id="contactForm" novalidate>
                         {% csrf_token %}
                         <div class="form-row">
                             <div class="col-sm-6 control-group">
                                 <input type="text" class="form-control p-4" id="contact_name" name="contact_name" placeholder="Your Name" required="required" pattern="[A-Za-z ]+" title="Please enter only letters and spaces" />
                                 <p class="help-block text-danger"></p>
                             </div>
                             <div class="col-sm-6 control-group">
                                 <input type="email" class="form-control p-4" id="contact_email" name="contact_email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                 <p class="help-block text-danger"></p>
                             </div>
                         </div>
                         <div class="control-group">
                             <input type="text" class="form-control p-4" id="contact_subject" name="contact_subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                             <p class="help-block text-danger"></p>
                         </div>
                         <div class="control-group">
                             <textarea class="form-control p-4" rows="6" id="contact_message" name="contact_message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                             <p class="help-block text-danger"></p>
                         </div>
                         <div>
                             <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Send Message</button>
                         </div>
                     </form>
                 </div>
             </div>
             
             <div class="col-lg-6" style="min-height: 400px;">
                 <div class="position-relative h-100 rounded overflow-hidden">
                     <iframe style="width: 100%; height: 100%; object-fit: cover;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6957586457926!2d36.82194691475828!3d-1.2865048990331288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f182f8d9ce45d%3A0x1da6473b14ac46b5!2sNairobi%2C%20Kenya!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                 </div>
             </div>
             
         </div>
     </div>
 </div>
 
 
 <!-- Contact End -->
 
 
 
 
 {%endblock%}