{% extends "base.html" %}
{% load static %}
{% block content %}

   

    <h1 style="text-align: center">You're not safe.</h1>

  <br>
    <div class = "container">
    <p style="text-align: center">The dark web is a place that can be dangerous for users. There are plenty of scams, viruses and malware on there, so it's best not to leave yourself open to these things.

        Also, the Dark Web has lots of viruses that can harm your device and even ruin your data if you do not know how to protect them properly.
        
        
        
        Another reason why you should never visit The Dark Web is because it is full of scams. There are many people who use this website to scam other people by pretending to be someone else or by pretending that they need help with something, but really they just want money from them.
        
        
        
        Finally, The Dark Web also contains many other types of criminals who can harm you in real life if they know their location or personal details like your address or wallet number etc..
        
        
        
        </p>
  
    </div>
<br><br>
{%endblock%}